body{
    background-color:silver;
}
a:hover{
    text-decoration: none;
}
hr{
    border:solid 1px rgb(192, 192, 192);
}
.sp{
    background: #ffffff;
    box-shadow: 1px 1px 5px 0px;
}
.align-center{
    text-align: center;
}
.content-list{
    margin-bottom: 1%;
    padding: 2% 5% 2% 5%;
}
.content-list h2{
    text-align: left;
}
.content-list h2 a{
    text-decoration: none;
}
.content-list p{
    font-size: 18px;
}
.content-list span{
    margin-right: 15%;
}
.content-list span i{
    margin-right:1%;
}
.list-footer{
    text-align: center;
}
.navbar-default{
    background-color: rgba(71, 10, 80, 0.74);
    border-color: #1B28BB;
    color: #FFFFFF;
}
.navbar-default .navbar-brand{
    color:#FFFFFF;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(71, 10, 80, 0.74);
    background-color: #FFFFFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgba(71, 10, 80, 0.74);
    background-color: #FFFFFF;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color:orangered;
}
.footer{
    margin-top:50px;
    height:50px;
    width:100%;
    text-align: center;
}
.right-bar{
    margin-bottom: 10px;
}
.right-bar h4{
    text-align: center;
    border-bottom: solid 1px rgb(192, 192, 192);
    height: 35px;
    color: #66396d;
    font-size: 16px;
    padding: 2% 0 2% 0;
}
.right-bar ul{
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}
.right-bar ul li{
    width: 100%;
    line-height: 40px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article h2{
    color: #404040;
    font-weight: normal;
    text-align: center;
}
.article p{
    color: #737373;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}