body{
    background-color:silver;
}
.sp{
    background: #ffffff;
    box-shadow: 1px 1px 5px 0px;
}
.content-list{
    margin: 0 5% 1% 5%;
}
.content-list h2{
    text-align: center;
}
.content-list h2 a{
    text-decoration: none;
}
.list-footer{
    text-align: center;
}
.navbar-default{
    background-color: rgba(71, 10, 80, 0.74);
    border-color: #1B28BB;
    color: #FFFFFF;
}
.navbar-default .navbar-brand{
    color:#FFFFFF;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(71, 10, 80, 0.74);
    background-color: #FFFFFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgba(71, 10, 80, 0.74);
    background-color: #FFFFFF;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color:orangered;
}
.footer{
    margin-top:50px;
    height:50px;
    width:100%;
    text-align: center;
}
.article h2{
    color: #404040;
    font-family: 'Bitter', serif;
    font-weight: normal;
    text-align: center;
}
.article p{
    color: #737373;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}