*{
    font-family: "YaHei Consolas Hybrid", Consolas, "微软雅黑", "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, "Monaco", courier, monospace;
}
body{
    background:url("http://oclr05hx7.bkt.clouddn.com/images/bg.jpg");
}
a:hover{
    text-decoration: none;
}
hr{
    border-top: solid 1px rgba(181, 181, 181, 0.67);
}
img{
    width:100%;
}

@media (min-width: 1200px) {
    .container{
        width: 1200px;
    }
}
@media (min-width: 1400px) {
    .container{
        width: 1400px;
    }
}


.cycle{
    animation: cycle 5s linear infinite;
    -moz-animation: cycle 5s linear infinite;	/* Firefox */
    -webkit-animation: cycle 5s linear infinite;	/* Safari 和 Chrome */
    -o-animation: cycle 5s linear infinite;	/* Opera */
}
@keyframes cycle
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-moz-keyframes cycle /* Firefox */
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes cycle /* Safari 和 Chrome */
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-o-keyframes cycle /* Opera */
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.page{
    background-color: #ffffff;
    border: solid 1px #66396d;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
    min-width: 37px;
    text-align: center;
    margin-right: 10px;
    color: #66396d;
    text-decoration: none;
}
.page-current,.page:hover{
    background-color: #66396d;
    color:#ffffff;
    text-decoration:none;
}

.sp{
    background: #ffffff;
    box-shadow: 1px 1px 5px 0;
    border-radius: 5px;
}
.align-center{
    text-align: center;
}
.content-list{
    margin-bottom: 1%;
    padding: 2% 5% 2% 5%;
}
.content-list h2{
    text-align: left;
}
.content-list h2 a{
    text-decoration: none;
}
.content-list p{
    font-size: 18px;
}
.content-list span{
    margin-right: 15%;
}
.content-list span i{
    margin-right:1%;
}
.list-footer{
    text-align: center;
}
.navbar-default{
    background-color: rgba(71, 10, 80, 0.74);
    border-color: rgba(71, 10, 80, 0.74);
    color: #FFFFFF;
    z-index: 1;
    border-radius:0;
}
.navbar-default .navbar-brand{
    color:#FFFFFF;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(71, 10, 80, 0.74);
    background-color: #FFFFFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgba(71, 10, 80, 0.74);
    background-color: #FFFFFF;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color:orangered;
}
.footer{
    margin-top:25px;
    height:25px;
    width:100%;
    text-align: center;
}
.right-bar{
    margin-bottom: 10px;
}
.right-bar h4{
    text-align: center;
    border-bottom: solid 1px rgb(192, 192, 192);
    height: 35px;
    color: #66396d;
    font-size: 16px;
    padding: 2% 0 2% 0;
}
.right-bar ul{
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}
.right-bar ul li{
    width: 100%;
    line-height: 40px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right-bar img{
    margin-bottom: 10px;
}
.article h2{
    color: #404040;
    font-weight: normal;
    text-align: center;
    padding-top: 20px;
    margin-top:0;
    margin-bottom: 0;
}
.article p{
    color: #737373;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.login{
    padding: 20px;
}
.login-form input{
    margin-bottom: 10px;
}

.login-form a{
    margin-left: 20px;
}

.login-logo img{
    display: block;
    width: 90%;
}

.blog-list{
    padding: 10px;
}

.table th, .table td {
    vertical-align: middle!important;
}

.chat-box span, .chat-box p{
    margin: 0;
    font-size:14px;
}

.chat-display{
    height:300px;
    margin-bottom: 20px;
}
.chat-content{
    width:70%;
    height:300px;
    overflow-y: auto;
    float:left;
    border: solid 1px #ccc;
    padding: 10px;
}
.chat-input textarea{
    margin-bottom: 10px;
}
.chat-user{
    width:30%;
    float:left;
    height:300px;
    border: solid 1px #ccc;
    overflow-y: auto;
}
.chat-user ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
.chat-user ul li{
    font-size: 16px;
}

.chat-user h4{
    text-align: center;
}

.chat-user hr{
    margin-top: 0;
    margin-bottom: 10px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 7px;
    background-color: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0, rgba(71, 10, 80, 0.5)),
    color-stop(0.5, #66396d),
    color-stop(1, rgba(71, 10, 80, 0.5)));
}
